* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
  font-family:sans-serif;
}
.container{
    width: 80%;
    margin: auto;
}
/* -------------------------- section1 ----------------------------- */
.section1{
    background-image: url(../images/cityscape-3346227.jpg);
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);
    background-size: 100% 100%;
    height: 100%;
    background-blend-mode: lighten;
}
.sec-flex{
display: flex;
flex-direction: column;
height: 700px;
justify-content: space-between;
}
.sec-flex  ul{

  list-style-type: none;
display: flex;
justify-content: space-between;
width: 50%;
}

.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
   color: white;
   padding: 2% 2% 0 0;
   border-bottom:1px solid white
  
}

ul{
    list-style-type: none;
    width: 20%;
    color: rgb(172, 170, 170);
    
}

ul a{
    color: rgb(172, 170, 170);
    text-decoration: none;
}
.card-flex ,.card2-flex{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 2%;
}
.card-flex h2{
        border-radius: 50%;
        border-style: solid;
        padding: 2% 4%;
        width: 50px;
        height: 50px;
        border-color: rgb(186, 184, 184);
}
.card2-flex h2{
    border-radius: 50%;
    border-color: rgb(186, 184, 184);
    border-style: solid;
    padding: 2% 4%;
    width: 50px;
    height: 50px;
    border-right-color:blue ;
    border-top-color:blue ;
    border-bottom-color:blue ;
}
.card2-flex p{
    width: 80%;
    line-height: 1.5;
}
.card-flex p{
    width: 80%;
    line-height: 1.5;
}
/* -------------------------- section1 ----------------------------- */
/* -------------------------- section2 ----------------------------- */
.section2{
    background-size: 100% 100%;
    height: 100%;
    background-blend-mode: lighten;
}
.Twoside-flex{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4%;
}
.aside-flex{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.aside-flex nav{
    color: rgb(15, 14, 14);
    border-bottom: 1px solid #a79e9e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4%;
}
.aside-flex ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.aside-flex ul a{
    color: rgb(15, 14, 14);
    text-decoration: none;
}
.section2-flex{
    display: flex;
    justify-content: space-around;
}
.img-form{
    display: flex;
    width: 48%;
    box-shadow: 0 0px 8px 2px rgb(227 224 224);
    color: rgb(103, 102, 102);
    position: relative;
    align-items: start;
    flex-direction: column;

}
.img-form img{
    width: 100%;
}
.text p ,.text h2{
    padding: 2%;
}
.img-form button{
    position: absolute;
    top: 12px;
    left: 14px;
    background-color: white;
    color: black;
    width: 30%;
    transition: 1s;
}
.img-form button:hover{
    background-color: brown;
    transform: rotate(360deg);
}
.sidecolum
{
    display: flex;
    flex-direction: column;
    width: 46%;
}
.cardflex{
    width: 100%;
    display: flex;
    box-shadow: 0 0px 8px 2px rgb(227 224 224);
    color: rgb(103, 102, 102);
    margin-bottom: 2%;
}
.cardflex img{
    width: 30%;
}
.sidecolum-card{
    padding:4%;
}
.arrow-flex{
        margin: 2%;
        color: gray;
        border-radius: 50%;
        border: 1px solid grey;
        padding: 10px;
      
}
.aside-right{
 border-left:1px solid #a79e9e;
 width: 28%;
 margin-left: 4%;
 height: 1500px;
}
.aside-right h2{
    border-bottom:1px solid #a79e9e;
    padding: 2%;
}
 .aside-right p ,.icons{
    border-bottom:1px solid #a79e9e;
    padding: 4%;
    color: #a79e9e;
}
.top-stories{
    border-bottom:1px solid #a79e9e;
    padding: 4%;
}
.top-card{
    display: flex;
    box-shadow: 0 0px 8px 2px rgb(227 224 224);
    margin-bottom: 3%;
}
.top-card img{
    width: 35%;
margin-right: 2%;
}
.top-card h4{
    padding: 6%;
}
.pick-flex{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 6%;
    flex-direction: column;
}
.pick-flex img{
    width: 100%;

}
.pick-flex h2{
    border-bottom: none;
}
.sec2-2form{
display: flex;
justify-content: space-between;
}
.sec3-4cards{
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
}
.supsec3{
    width: 49%;
    display: flex;
    flex-direction: column;
}
.section3-flex{
    padding-top: 6%;
    display: flex;
    justify-content: space-between;
}
.backimg{
    width: 30%;
    background-image: url(../images/cityscape-3346227.jpg);
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);
    background-size: 100% 100%;
    height: 150px;
    background-blend-mode: lighten;
    text-align: center;
    padding: 2%;
    position: relative;
    color: white;
}
.backimg h3{
   padding:10% ;
}
.backimg button{
    position: absolute;
    top: 14px;
    left: 96px;
    background-color: white;
    color: black;
    width: 30%;
    transition: 1s;
}
.backimg button:hover{
    background-color: brown;
    transform: rotate(360deg);
}
.h2_style{
    border-bottom: 1px solid rgba(128, 128, 128, 0.717);
    margin-bottom: 3%;
}
.section4-flex{
    width: 67%;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
}
.section4-right{
    width: 27%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 2%;
}
.section4-form{
    display: flex;
    box-shadow: 0 0px 8px 2px rgb(227 224 224);
    color: rgb(103, 102, 102);
    position: relative;
    align-items: start;
    flex-direction: column;
    margin-bottom: 2%;
}
.section4-form img{
    width: 100%;
    height: 180px;
}
.section4-form i{
    position: absolute;
    top: 80px;
    left: 130px;
    background-color: white;
    color: rgba(148, 146, 146, 0.39);
    transition: 1s;
    margin: 2%;
    border-radius: 96%;
    border: 1px solid rgb(250, 247, 247);
    padding: 10px;

}
.section4-form button{
    position: absolute;
    top: 12px;
    left: 14px;
    background-color: white;
    color: black;
    width: 30%;
    transition: 1s;
}
.section4-form button:hover{
    background-color: brown;
    transform: rotate(360deg);
}
.sec4colum-card{
    padding: 2%;
}
.sec4colum-card h2 ,.sec4colum-card p{
margin: 3%;
}
